name: Compiler EconomyPlugin

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Récupérer le code
      uses: actions/checkout@v4
    
    - name: Installer Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'
    
    - name: Compiler le plugin
      run: mvn clean package -DskipTests
    
    - name: Upload du JAR
      uses: actions/upload-artifact@v4
      with:
        name: EconomyPlugin-JAR
        path: target/EconomyPlugin-*.jar
